CapaPresentacion.Web/Connected Services/ServiceReference1/UsuarioWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:39227/UsuarioWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:39227/UsuarioWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39227/UsuarioWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaNegocio.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioWCF_ListadoUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_ListadoUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Crear_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioWCF">
    <wsdl:operation name="ListadoUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/ListadoUsuarios" message="tns:IUsuarioWCF_ListadoUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/ListadoUsuariosResponse" message="tns:IUsuarioWCF_ListadoUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/Obtener" message="tns:IUsuarioWCF_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/ObtenerResponse" message="tns:IUsuarioWCF_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/Crear" message="tns:IUsuarioWCF_Crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/CrearResponse" message="tns:IUsuarioWCF_Crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/Editar" message="tns:IUsuarioWCF_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/EditarResponse" message="tns:IUsuarioWCF_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/Eliminar" message="tns:IUsuarioWCF_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/EliminarResponse" message="tns:IUsuarioWCF_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioWCF" type="tns:IUsuarioWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListadoUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/ListadoUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/Crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioWCF">
    <wsdl:port name="BasicHttpBinding_IUsuarioWCF" binding="tns:BasicHttpBinding_IUsuarioWCF">
      <soap:address location="http://localhost:39227/UsuarioWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>